{% load static %}

<div class="card mb-3 position-relative">
    
    {% comment %} <img src="{% static 'images/donwload.png' %}" class="card-img-top" alt="..." /> {% endcomment %}

    <div class="card-body">
        <h5 class="card-title">{{ category.name }}</h5>
        <p class="card-text text-muted">{{ category.description }}</p>

        <span class="badge bg-primary">
            {{ category.Discussion_count }} Discussions
        </span>

        <a href="{% url 'discussions' category.id %}" class="stretched-link"></a>
    </div>

</div>
